$gantt-table-color: #333 !default;
$gantt-table-td-height: 44px !default;
$gantt-table-thead-height: 44px !default;
$gantt-table-td-padding: 0 15px !default;
$gantt-table-bg: #fff !default;

@import './group/group.component.scss';

.gantt-table {
    table {
        width: 100%;
        margin: 0;
        padding: 0;
        table-layout: fixed;
        border-collapse: collapse;
        color: $gantt-table-color;
        background-color: transparent;

        thead,
        tbody {
            tr {
                height: $gantt-table-td-height;
            }

            th,
            td {
                padding: $gantt-table-td-padding;
                background-color: $gantt-table-bg;
                border-right: 1px solid $gantt-border-color;
                border-bottom: 1px solid $gantt-border-color;
                position: relative;
            }

            td {
                transition: width 0.5s;
            }
        }

        thead {
            th {
                font-weight: 400;
                height: $gantt-table-thead-height;
            }
        }
    }

}
