.gantt-table {
  display: block;
  height: 100%;

  .gantt-table-group {
    background: $gantt-group-background-color;
    td {
      &::after {
        background: transparent;
      }
    }
    .gantt-table-group-title {
      cursor: pointer;
      .expand-icon {
        color: #aaa;
      }
    }
  }

  table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    background-color: transparent;

    thead,
    tbody {
      tr {
        height: $gantt-item-height;
      }

      th,
      td {
        padding: $gantt-table-td-padding;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &::before {
          position: absolute;
          top: 0;
          right: 0;
          content: '';
          height: 100%;
          width: 1px;
          background: $gantt-border-color;
        }

        &::after {
          position: absolute;
          left: 0;
          bottom: 0;
          content: '';
          width: 100%;
          height: 1px;
          background: $gantt-border-color;
        }

        &:last-child {
          &::before {
            display: none;
          }
        }
      }

      td {
        transition: width 0.5s;
      }
    }

    thead {
      th {
        font-weight: 400;
        height: $gantt-header-height;
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 1;
      }
    }
  }
}
