<div style="line-height: 30px; padding: 15px; display: flex">
  <div style="flex: 1">
    <span class="text-primary">NgxGantt</span>
    默认开启了虚拟滚动功能，如需关闭该功能设置 virtualScrollEnabled 参数为 false 即可。
  </div>
</div>
<thy-layout>
  <thy-content>
    <ngx-gantt
      #gantt
      [items]="items"
      [virtualScrollEnabled]="true"
      [loadOnVirtualScrollEnabled]="true"
      (loadOnVirtualScroll)="loadOnVirtualScroll($event)"
    >
      <ngx-gantt-table>
        <ngx-gantt-column name="标题" width="180px">
          <ng-template #cell let-item="item"> {{ item.title }} </ng-template>
        </ngx-gantt-column>
        <ngx-gantt-column name="开始时间" [class.start-time]="true" [width]="140">
          <ng-template #cell let-item="item">
            {{ item.start * 1000 | date : 'yyyy-MM-dd' }}
          </ng-template>
        </ngx-gantt-column>
        <ngx-gantt-column name="截止时间">
          <ng-template #cell let-item="item">
            {{ item.end * 1000 | date : 'yyyy-MM-dd' }}
          </ng-template>
        </ngx-gantt-column>
      </ngx-gantt-table>

      <ng-template #bar let-item="item">
        <span style="color: #fff">&nbsp;&nbsp;{{ item.title }} </span>
      </ng-template>
    </ngx-gantt>
  </thy-content>
</thy-layout>
