.gantt-flat {

    .gantt-flat-side-header {
        text-align: center;
        position: sticky;
        top: 0;
        background: $gantt-bg-color;
        height: $gantt-header-height;
        line-height: $gantt-header-height;
        z-index: 1;
        border-bottom: 1px solid $gantt-border-color;
        box-sizing: border-box;
    }


    .gantt-flat-items {
        position: relative;
    }
}


.gantt-group {
    .gantt-group-title {
        display: flex;
        height: $gantt-group-height;
        background: $gantt-group-background-color;
        padding: 0 10px;
        align-items: center;
        border-bottom: 1px solid $gantt-border-color;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;

        .expand-icon {
            color: #aaa;
            margin-right: 6px;
        }
    }

    .gantt-group-content {
        .gantt-group-content-section {
            padding: 15px;
            border-bottom: 1px solid #eee;
        }
    }
}

.gantt-main-group-fill {
    height: 44px;
    background: rgba(243, 243, 243, 0.5);
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}

.gantt-main-group-section {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}
