version: 2
jobs:
    build:
        working_directory: ~/ngx-gantt
        docker:
            - image: circleci/node:14-browsers
        steps:
            - checkout
            - restore_cache:
                  key: ngx-gantt-{{ .Branch }}-{{ checksum "package-lock.json" }}
            - run: npm ci
            - save_cache:
                  key: ngx-gantt-{{ .Branch }}-{{ checksum "package-lock.json" }}
                  paths:
                      - 'node_modules'
            - run: npm run lint -- --quiet
            - run: npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI --source-map=false
            - run: npm run report-coverage
            - run: npm run build
