.gantt-table-group {
    .gantt-table-group-header {
        height: 50px;
        background: #fafafa;
        vertical-align: middle;
        display: flex;
        align-items: center;
        padding: 0 15px;
    }
}
