.gantt-table-group {
    .gantt-table-group-header {
        height: 44px;
        line-height: 44px;
        background: #fafafa;
        vertical-align: middle;
        display: flex;
        align-items: center;
        padding: 0 15px;
        .gantt-table-group-header-title {
            cursor: pointer;
        }
        border-right: 1px solid $gantt-border-color;
    }
}
