.gantt-table-group {
    display: block;

    .gantt-table-group-header {
        height: $gantt-group-height;
        background: $gantt-group-background-color;
        vertical-align: middle;
        display: flex;
        align-items: center;
        padding: 0 15px;
        border-bottom: 1px solid $gantt-border-color;

        .gantt-table-group-header-title {
            cursor: pointer;
            .expand-icon {
                color: #aaa;
            }
        }
    }
}
