<thy-layout>
  <thy-header class="header-with-baseline">
    <ng-template #headerContent
      >&nbsp; &nbsp; &nbsp;
      <thy-button thyType="primary" thySize="sm" (click)="fetchItems()">升序排序</thy-button>
      <thy-button thyType="primary" thySize="sm" (click)="fetchItems()">请求数据</thy-button>
      <thy-button thyType="primary" thySize="sm" (click)="fetchItems()">请求数据</thy-button>
    </ng-template>
    <ng-template #headerOperation>
      <a href="https://github.com/worktile/ngx-gantt/blob/master/example/src/app/gantt-loader" target="_blank">查看源码</a>
    </ng-template>
  </thy-header>
  <thy-content>
    <ngx-gantt
      #gantt
      [items]="items"
      [baselineItems]="baselineItems"
      [viewType]="viewType"
      [async]="true"
      [childrenResolve]="childrenResolve"
      [viewOptions]="viewOptions"
      [showToolbar]="isShowToolbarChecked"
      [loading]="loading"
      [loadingDelay]="1000"
      [toolbarOptions]="toolbarOptions"
    >
      <ngx-gantt-table>
        <ngx-gantt-column name="编号" [width]="140">
          <ng-template #header>
            <div title="编号" (click)="onSort()">
              编号
              <span class="sort-asc" [class.active]="sortType === 1"></span>
              <span class="sort-desc" [class.active]="sortType === -1"></span>
            </div>
          </ng-template>
          <ng-template #cell let-item="item">
            {{ item.id }}
          </ng-template>
        </ngx-gantt-column>
        <ngx-gantt-column name="标题" width="180px" [showExpandIcon]="true">
          <ng-template #cell let-item="item"> {{ item.title }} </ng-template>
        </ngx-gantt-column>
        <ngx-gantt-column name="截止时间">
          <ng-template #cell let-item="item">
            {{ item.end * 1000 | date : 'yyyy-MM-dd' }}
          </ng-template>
        </ngx-gantt-column>
      </ngx-gantt-table>
      <ng-template #bar let-item="item">
        <span style="color: #fff">&nbsp;&nbsp;{{ item.title }} </span>
      </ng-template>
    </ngx-gantt>
  </thy-content>
</thy-layout>
