.sortable-icon {
  visibility: visible;
  vertical-align: text-bottom;
  &.sort-desc {
    visibility: visible;
    color: #ddd !important;
    svg g path:last-child {
      fill: #6698ff !important;
    }
  }
  &.sort-asc {
    visibility: visible;
    color: #6698ff !important;
    svg g path:last-child {
      fill: #ddd !important;
    }
  }
}
