.gantt-drag-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.gantt-drag-mask {
    position: absolute;
    top: $gantt-header-height;
    z-index: 1;
    height: 100%;
    display: none;
    background: rgba($color: $gantt-item-drag-mask-color, $alpha: 0.05);

    .date-range {
        width: 100%;
        min-width: 120px;
        top: -23px;
        background: $gantt-item-drag-mask-color;
        line-height: 23px;
        border-radius: 4px;
        color: #fff;
        position: absolute;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        box-sizing: border-box
    }
}
