<ngx-gantt-root [sideWidth]="300">
  <ng-template #sideTemplate>
    <div class="gantt-flat-side-header">项目</div>
    <div class="gantt-flat-side-body">
      @for (group of groups; track trackBy($index, group)) {
        <div class="gantt-group">
          <div class="gantt-group-content" [style.height.px]="group.mergedItems?.length * (styles().lineHeight + 10) - 10">
            {{ group.title }}
          </div>
        </div>
      }
    </div>
  </ng-template>
  <ng-template #mainTemplate>
    <!-- groups -->
    @if (groups && groups.length > 0) {
      <div class="gantt-main-groups" [style.width.px]="view.width">
        @for (group of groups; track trackBy($index, group)) {
          <div class="gantt-main-group" [style.height.px]="group.mergedItems?.length * (styles().lineHeight + 10) - 10">
            @for (items of group.mergedItems; track items) {
              <div class="gantt-flat-items" [style.height.px]="styles().lineHeight">
                @for (item of items; track trackBy($index, item)) {
                  <ngx-gantt-bar [item]="item" [template]="barTemplate()" (barClick)="barClick.emit($event)"></ngx-gantt-bar>
                }
              </div>
            }
          </div>
        }
      </div>
    }
  </ng-template>
</ngx-gantt-root>
