/* You can add global styles to this file, and also import other style files */

@import '../../packages/gantt/src/styles/index.scss';
@import '~@docgeni/template/styles/index.scss';

.gantt-demo {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #eee;
    padding: 20px;

    .gantt-demo-header {
        height: 50px;
        background: #fff;
        padding: 0px 20px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;

        .header-section{
            margin-right: 20px;
            &-title{
                font-weight: bold;
            }
        }

    }

    .gantt-demo-content {
        flex: 1;
        height: 1px;
    }
}
