.gantt-calendar-overlay {
  display: block;
  height: calc(100% - 8px);
  overflow: hidden;

  .gantt-calendar-today-overlay {
    height: 0;
    position: relative;
    z-index: 2;

    svg {
      display: block;
    }
  }

  .gantt-calendar-overlay-main {
    position: relative;
    z-index: 1;
    background-color: $gantt-bg-color;
  }

  svg {
    overflow: visible;
  }

  line {
    shape-rendering: crispEdges;
  }

  .primary-text {
    fill: $gantt-date-primary-color;
    font-size: $gantt-date-primary-font-size;
  }

  .secondary-text {
    fill: $gantt-date-secondary-color;
    font-size: $gantt-date-secondary-font-size;

    &-weekend {
      fill: $gantt-date-secondary-weekend-color;
    }
  }

  .today-text {
    fill: $gantt-date-today-text-color;
  }

  .primary-text,
  .secondary-text {
    text-anchor: middle;
  }

  .primary-line {
    stroke: $gantt-date-primary-border;
  }

  .secondary-line {
    stroke-dasharray: 2px 5px;
    stroke: #cacaca;
  }

  .header-line {
    stroke: $gantt-border-color;
  }

  .secondary-backdrop {
    fill: $gantt-date-week-backdrop-bg;
  }

  .today-line {
    stroke: $gantt-date-today-color;
    stroke-width: 2px;
  }

  .today-rect {
    fill: $gantt-date-today-color;
  }
}
