$gantt-color: #333 !default;
$gantt-header-height: 44px !default;
$gantt-border-color: #eee !default;
$gantt-bg-color: #fff !default;
$gantt-side-shadow: 12px 0 16px -10px rgba(0, 0, 0, 0.15);
$gantt-container-background-color: #fafafa;
$gantt-item-height:44px;
$gantt-group-background-color:rgba($color: #f3f3f3, $alpha: 0.5);
$gantt-group-height: 44px;
$gantt-table-td-padding: 0 15px !default;

// mask
$gantt-item-drag-mask-color: #348fe4 !default;

//bar
$gantt-bar-layer-bg: #fff !default;
$gantt-bar-handle-color: #cacaca !default;
$gantt-bar-handle-height: 12px !default;

// calendar
$gantt-date-primary-color: #888 !default;
$gantt-date-primary-font-size: 14px !default;
$gantt-date-secondary-color: #333 !default;
$gantt-date-secondary-font-size: 14px !default;
$gantt-date-secondary-weekend-color: #aaa !default;
$gantt-date-week-backdrop-bg: rgba($color: #f3f3f3,
    $alpha: 0.5) !default;
$gantt-date-today-color: #ff9f73 !default;


@import './calendar/calendar.component.scss';
@import './table/gantt-table.component.scss';
@import './bar/bar.component.scss';

.gantt {
    width: 100%;
    height: 100%;
    background-color: $gantt-bg-color;
    position: relative;
    overflow: hidden;
    display: flex;
    color: $gantt-color;
    opacity: 0;

    .gantt-side {
        border-right: 1px solid $gantt-border-color;
        position: relative;
        z-index: 1;

        &-has-shadow {
            box-shadow: $gantt-side-shadow;
        }

        .gantt-side-wrap {
            width: 100%;
            height: 100%;
            overflow: auto;
            display: block;
        }

        .gantt-side-header {
            box-sizing: border-box;
            height: $gantt-header-height;
            width: min-content;
        }

        .gantt-side-container {
            height: calc(100% - #{$gantt-header-height});
            overflow: auto;
            width: min-content;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .gantt-container {
        flex: 1;
        position: relative;
        display: flex;
        overflow: hidden;
        background-color: $gantt-container-background-color;
    }

    .gantt-main-container {
        width: 100%;
        height: calc(100% - #{$gantt-header-height});
        flex: 1;
        position: absolute;
        top: $gantt-header-height;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;

        .gantt-main-groups .gantt-main-items {
            height: 100%;
        }

        .gantt-group {
            height: $gantt-group-height;
            background: $gantt-group-background-color;
            border-bottom: 1px solid $gantt-border-color;
        }

        .gantt-item {
            height: $gantt-item-height;
            border-bottom: 1px solid $gantt-border-color;
            box-sizing: border-box;
            position: relative;
        }
    }
}

// .gantt-container {
//   flex: 1;
//   display: flex;
//   position: absolute;
//   top: $gantt-header-height;
//   right: 0;
//   bottom: 0;
//   left: 0;
// }

// .gantt-side {
//   border-right: 1px solid $gantt-border-color;
//   overflow-x: scroll;
//   overflow-y: hidden;

//   .gantt-group {
//     padding: 20px;
//     border-bottom: 1px solid $gantt-border-color;

//     &:last-child {
//       border-bottom: 0
//     }
//   }

// }

//   .gantt-items {
//     flex: 1;
//     position: relative;

//     .gantt-items-content {
//       position: absolute;
//       top: 0;
//       bottom: 0;
//       left: 0;
//       right: 0;
//       overflow: auto;
//     }
//   }

//   .gantt-drag-backdrop {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: 1;
//     display: none;
//   }

//   .gantt-drag-mask {
//     width: 200px;
//     position: absolute;
//     top: $gantt-header-height;
//     z-index: 1;
//     height: 100%;
//     display: none;
//     background: rgba($color: $gantt-item-drag-mask-color, $alpha: 0.05);

//     .date-range {
//       width: 100%;
//       min-width: 100px;
//       top: -22px;
//       background: $gantt-item-drag-mask-color;
//       line-height: 22px;
//       border-radius: 4px;
//       color: #fff;
//       position: absolute;
//       display: flex;
//       justify-content: space-between;
//       padding: 0 10px;
//     }
//   }
// }
