$gantt-header-height: 50px;
$gantt-side-width: 200px;
$gantt-full-screen-width: 60px;
$gantt-border-color: $gray-200;
$gantt-bg-color: $white;
$gantt-mesh-bg-color:$gray-80;
$gantt-item-bg-color: $white;
$gantt-item-drag-mask-color: $primary;
$gantt-date-primary-color: $gray-600;
$gantt-date-primary-font-size: $font-size-base;
$gantt-date-secondary-color: $gray-800;
$gantt-date-secondary-font-size: $font-size-base;
$gantt-date-secondary-weekend-color: $gray-500;
$gantt-date-secondary-border-color: $gray-300;
$gantt-date-week-backdrop-bg: rgba($color: $gray-100, $alpha: 0.5);
$gantt-date-today-color: #FF9F73;
$gantt-bar-layer-bg: $white;
$gantt-bar-handle-color: $gray-400;
$gantt-bar-handle-height: 12px;



@import './header/header.scss';
@import './bar/bar.scss';
@import './dependencies/dependencies.scss';

.gantt {
  width: 100%;
  height: 100%;
  background-color: $gantt-bg-color;
  flex: auto;
  position: relative;
  overflow: hidden;
  opacity: 0;

  .gantt-container {
    flex: 1;
    display: flex;
    position: absolute;
    top: $gantt-header-height;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .gantt-side {
    border-right: 1px solid $gantt-border-color;
    overflow-x: scroll;
    overflow-y: hidden;

    .gantt-group {
      padding: 20px;
      border-bottom: 1px solid $gantt-border-color;

      &:last-child {
        border-bottom: 0
      }
    }

  }

  .gantt-items {
    flex: 1;
    position: relative;

    .gantt-items-content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: auto;
    }
  }

  .gantt-calendar-overlay {
    display: block;
    height: 100%;

    line {
      shape-rendering: crispEdges;
    }

    .date {
      .primary-text {
        fill: $gantt-date-primary-color;
        font-size: $gantt-date-primary-font-size;
      }

      .secondary-text {
        fill: $gantt-date-secondary-color;
        font-size: $gantt-date-secondary-font-size;

        &-weekend {
          fill: $gantt-date-secondary-weekend-color;
        }
      }

      .primary-text,
      .secondary-text {
        text-anchor: middle;
      }

      .primary-line {
        stroke: $gantt-border-color;
      }

      .secondary-line {
        stroke-dasharray: 2px 3px;
        stroke: $gantt-date-secondary-border-color;
      }

      .secondary-backdrop {
        fill: $gantt-date-week-backdrop-bg;
      }

      .today-line-angle {
        fill: $gantt-date-today-color;
      }

      .today-line {
        stroke: $gantt-date-today-color;
        stroke-width: 2px;
      }

    }

    .mesh {

      .mesh-header {
        fill: $gantt-bg-color;
      }

      .mesh-header-line {
        stroke: $gantt-border-color;
        stroke-width: 1px;
      }

      .mesh-item {
        fill: $gantt-mesh-bg-color;
      }

      .mesh-line {
        stroke: $gantt-border-color;
      }

      .mesh-fill-line {
        stroke: $gantt-mesh-bg-color;
      }
    }

  }

  .gantt-drag-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
  }

  .gantt-drag-mask {
    width: 200px;
    position: absolute;
    top: $gantt-header-height;
    z-index: 1;
    height: 100%;
    display: none;
    background: rgba($color: $gantt-item-drag-mask-color, $alpha: 0.05);

    .date-range {
      width: 100%;
      min-width: 100px;
      top: -22px;
      background: $gantt-item-drag-mask-color;
      line-height: 22px;
      border-radius: 4px;
      color: $white;
      position: absolute;
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
    }
  }
}
