$gantt-header-height: 50px !default;
$gantt-side-width: 200px !default;
$gantt-full-screen-width: 60px !default;
$gantt-border-color: #eee !default;
$gantt-bg-color: #fff !default;
$gantt-item-bg-color: #fff !default;
$gantt-item-drag-mask-color: #348fe4 !default;
$gantt-bar-layer-bg: #fff !default;
$gantt-bar-handle-color: #cacaca !default;
$gantt-bar-handle-height: 12px !default;

// calendar
$gantt-date-primary-color: #888 !default;
$gantt-date-primary-font-size: 14px !default;
$gantt-date-secondary-color: #333 !default;
$gantt-date-secondary-font-size: 14px !default;
$gantt-date-secondary-weekend-color: #aaa !default;
$gantt-date-secondary-border-color: #ddd !default;
$gantt-date-week-backdrop-bg: rgba($color: #f3f3f3, $alpha: 0.5) !default;
$gantt-date-today-color: #FF9F73 !default;

// @import './bar/bar.scss';
// @import './dependencies/dependencies.scss';

@import './calendar/calendar.component.scss';
@import './table/gantt-table.component.scss';

.gantt {
  width: 100%;
  height: 100%;
  background-color: $gantt-bg-color;
  flex: auto;
  position: relative;
  overflow: hidden;

  .gantt-side {
    width: 400px;
    border-right: 1px solid #ddd;
  }

  .gantt-container {
    flex: 1;
    overflow-x: auto;
  }


  // .gantt-container {
  //   flex: 1;
  //   display: flex;
  //   position: absolute;
  //   top: $gantt-header-height;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  // }

  // .gantt-side {
  //   border-right: 1px solid $gantt-border-color;
  //   overflow-x: scroll;
  //   overflow-y: hidden;

  //   .gantt-group {
  //     padding: 20px;
  //     border-bottom: 1px solid $gantt-border-color;

  //     &:last-child {
  //       border-bottom: 0
  //     }
  //   }

  // }

  .gantt-items {
    flex: 1;
    position: relative;

    .gantt-items-content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: auto;
    }
  }


  .gantt-drag-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
  }

  .gantt-drag-mask {
    width: 200px;
    position: absolute;
    top: $gantt-header-height;
    z-index: 1;
    height: 100%;
    display: none;
    background: rgba($color: $gantt-item-drag-mask-color, $alpha: 0.05);

    .date-range {
      width: 100%;
      min-width: 100px;
      top: -22px;
      background: $gantt-item-drag-mask-color;
      line-height: 22px;
      border-radius: 4px;
      color: #fff;
      position: absolute;
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
    }
  }
}
