<thy-layout>
  <thy-header>
    <ng-template #headerContent>
      <thy-button-group thySize="sm" thyType="outline-default">
        <button thyButton *ngFor="let view of views" [class.active]="view.value === viewType" (click)="viewType = view.value">
          {{ view.name }}
        </button>
      </thy-button-group>
      &nbsp; &nbsp; &nbsp;
      <thy-button thyType="primary" thySize="sm" (click)="print('gantt-example')"> ↓ 导出为图片 </thy-button>
    </ng-template>
    <ng-template #headerOperation>
      <a href="https://github.com/worktile/ngx-gantt/blob/master/example/src/app/gantt" target="_blank">查看源码</a>
    </ng-template>
  </thy-header>
  <thy-content>
    <ngx-gantt
      #gantt
      [items]="items"
      [viewType]="viewType"
      [viewOptions]="viewOptions"
      [async]="true"
      [childrenResolve]="childrenResolve"
      [draggable]="true"
      [linkable]="true"
      (barClick)="barClick($event)"
      (lineClick)="lineClick($event)"
      (dragEnded)="dragEnded($event)"
      (linkDragEnded)="linkDragEnded($event)"
    >
      <ngx-gantt-table>
        <ngx-gantt-column name="标题" width="100px">
          <ng-template #cell let-item="item"> {{ item.title }} </ng-template>
        </ngx-gantt-column>
        <ngx-gantt-column name="开始时间" width="170px">
          <ng-template #cell let-item="item">
            {{ item.start * 1000 | date: 'yyyy-MM-dd' }}
            {{ item.start * 1000 | date: 'HH:mm:ss' }}
          </ng-template>
        </ngx-gantt-column>
        <ngx-gantt-column name="截止时间" width="170px">
          <ng-template #cell let-item="item">
            {{ item.end * 1000 | date: 'yyyy-MM-dd  HH:mm:ss' }}
          </ng-template>
        </ngx-gantt-column>
      </ngx-gantt-table>

      <ng-template #bar let-item="item">
        <span style="color: #fff">&nbsp;&nbsp;{{ item.title }} </span>
      </ng-template>
    </ngx-gantt>
  </thy-content>
</thy-layout>
